# streamlit>=1.40.0
# pandas
# numpy
# PyPDF2
# python-docx
# scikit-learn
# nltk
# spacy
# openai
# python-dotenv
# plotly

streamlit
pandas
numpy
plotly
PyPDF2
pdfplumber
spacy
scikit-learn
google-generativeai
python-docx
streamlit-option-menu
python-dotenv
groq
fpdf2
reportlab